/*------------------------------------*\
    #BODY
\*------------------------------------*/

body {
  padding: 20px 1.55556rem;
  background: #FFFEF2;
}

.wrap {
  max-width: 670px;
  margin: 0 auto;
}
