/**
 * Footer disqus
 */
.page__footer__disqus {
  margin-bottom: 5em;
}


/**
 * Footer copyright
 */
.page__footer__copyright {
  @include font($lato, 11, rgba(0,0,0,0.3));
  text-transform: uppercase;
  padding: 1em 0;
}
