/*------------------------------------*\
    #HEADER
\*------------------------------------*/

.page {
  position: relative;
  width: 100%;
  top: 0;
}





/**
 * Header basic style
 */
.site__header {
  @extend .cf;
  padding-top: 70px;
  width: 100%;
// position: absolute;
// top: 70px;
}





/**
 * Header Title
 */
.site__header__title {
  float: left;
}


.site__header__title a {
  @include font($lato, 15, $black);
  transition: color .25s ease-in;
  letter-spacing: -0.02em;
  font-weight: 700;
  display: block;
  color: $black;
  &:hover {
    color: lighten($black, 20%);
  }
}





/**
 * Header navigation
 */
.site__header__navigation {
  float: right;
}

.site__header__navigation__item a {
  @include font($lato, 15, $black);
  transition: padding-bottom 0.25s;
  letter-spacing: -0.02em;
  font-weight: 700;
  padding-bottom: 8px;
  border: none;
/**
 * TODO: Add hover, after creating all menu
 */
// &:hover {
//   border-bottom: 2px solid $black;
//   padding-bottom: 4px;
// }
cursor: auto;
}
