/*------------------------------------*\
    $POST
\*------------------------------------*/

.entry {
  margin-top: 5rem;
}

/**
 * Entry Category List
 */
.entry__category__list {
  @extend .cf;
  > li{
    margin-right: 10px;
      &,
      > a{
          display:inline-block;
         *display:inline;
          zoom:1;
          padding: 5px 0;
          @include font($lato, 17, $black);
      }
  }
}


/**
 * Entry Header Title
 */
.entry__header__title {
  @include font($lato, 48, $black);
  font-weight: 700;
  margin: 0.67em 0 0.45em;
  letter-spacing: 1px;
  line-height: 1.4;
}


/**
 * Entry Time
 */
.entry__header__created {
  @include font($lato, 17, #abb4b9);
}



.entry__content {
  padding: 3rem 0;
}


/**
 * Entry Content h2
 */
.entry__content h2:first-child {
  padding: 0;
}

.entry__content h2 {
  @include font($lato, 26, $black);
  letter-spacing: 0.04px;
  margin-bottom: 1.5em;
  line-height: 1.85;
  padding-top: 2em;
}


/**
 * Entry Content Paragraph
 */
.entry__content p {
  @include font($lato, 16, $black);
  letter-spacing: 0.04px;
  line-height: 1.85;
  margin-bottom: 1.5em;
}


/**
 * Entry Content Link
 */
.entry__content a {
  transition: background-color 0.3s, border-color 0.3s;
  border-bottom: 1px solid rgba(52,73,94,0.4);
  @include font($lato, 16, $black);
  margin-bottom: 1.5em;
  &:hover {
    border-color: rgba(52,73,94,0);
    background-color: rgba(52,73,94,0.1);
  }
}


/**
 * Entry Content Img
 */
.entry__content img {
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.22);
  border-radius: $brand-round;
  margin-bottom: 1.5em;
}


/**
 * Entry Content Code
 */
.entry__content pre {
  border-radius: $brand-round;
  background: #f7f7f7;
  word-wrap: nomal;
  margin: 1.5em 0;
  margin-bottom: 1.5em;
  font-size: 85%;
  line-height: 1.45;
  padding: 16px;
  code {
    display: inline;
    overflow: initial;
    max-width: initial;
    margin: 0;
    padding: 0;
  }
}
