/*------------------------------------*\
    #MEDIA
\*------------------------------------*/

@media (max-width: 600px) {

  .site__header {
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    border-bottom: 1px solid #d0d2d4;
    background: #fff;
    position: fixed;
    padding: 10px 20px;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
  }

}
