/*------------------------------------*\
    #MEDIA
\*------------------------------------*/

@media (max-width: 815px) {
  .widget--share__title { display: none; }
}

@media (max-width: 600px) {

  /**
   * Header
   */
  .site__header {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    border-bottom: 1px solid #d0d2d4;
    background: #fff;
    position: fixed;
    padding: 10px 1.55556rem;
    width: auto;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
  }


  /**
   * Entry Title
   */
  .entry__header__title { @include font($lato, 32, $black); }


  /**
   * Visibility
   */
  .media-query--small {
    visibility: hidden;
  }


  /**
   * Widget
   */
  .widget__share {
    padding: 0;
  }

  .widget--share__item:not(:last-child) {
    border-right: 1px solid #e4e4e5;
  }

  .widget--share__item {
    width: calc((100% - 3px) / 3);
  }

  .social-sharing a {
    margin:        0       !important;
    text-align:    center  !important;
    display:       block   !important;
    background:    #fff    !important;
    color:         #e4e4e5 !important;
    border-radius: 0       !important;
    &:hover {
      color: $black        !important;
    }
  }

  .share-count {
    display: none !important;
  }


}
