/*------------------------------------*\
    #SOCIALBUTTONS
\*------------------------------------*/
/*
 * Social Icon Buttons v1.0
 * Author:
 * Carson Shold | @cshold
 * http://www.carsonshold.com
 * MIT License
 */
/**
 * I overwrite social buttons icon
 * stlye for me.
 */
.social-sharing a {
  margin: 0 10px 0 0;
}


.social-sharing a,
.social-sharing span,
.social-sharing .icon::before,{
  line-height: 40px   !important;
  height:      40px   !important;
}


.social-sharing .icon {
  padding:     0 15px !important;
}
